{% extends '_layouts/base.njk' %}

{% block page_title %}Producs{% endblock %}

{% block page_description %}Desoto Janitorial Supply Products{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Products</h1>
    </div>
  </div>
</div>

{% endblock %}