{% extends '_layouts/base.njk' %}

{% block page_title %}Products{% endblock %}

{% block page_description %}Desoto Janitorial Supply Products{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Products</h1>
      <img src="img/djs-graphic-2.jpg" class="img-fluid" alt="info-graphic">
    </div>
  </div>
</div>

{% endblock %}