<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="index.html">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="products.html">Products</a>
      <a class="nav-item nav-link" href="http://catalog.desotosupply.com/" target="_blank">Shop Now</a>
      <a class="nav-item nav-link" href="manufacturers.html">Manufacturers</a>
      <a class="nav-item nav-link" href="contact-us.html">Contact Us</a>
    </div>
  </div>
</nav>
